Repository MurielleMardenli200/FindTheDifferenceGame: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:client, install:server, lint:client, lint:server, test:client, test:server

install:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - client/node_modules/
    - client/.npm/
    policy: pull-push
  stage: install
  script:
  - cd client
  - npm ci --cache .npm --prefer-offline

install:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    - server/.npm/
    policy: pull-push
  stage: install
  script:
  - cd server
  - npm ci --cache .npm --prefer-offline

lint:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - client/node_modules/
    policy: pull
  stage: lint
  needs:
  - install:client
  allow_failure: true
  script:
  - cd client
  - npm ci --cache .npm --prefer-offline
  - npm run lint

lint:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    policy: pull
  stage: lint
  needs:
  - install:server
  allow_failure: true
  script:
  - cd server
  - npm ci --cache .npm --prefer-offline
  - npm run lint

test:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - client/node_modules/
    policy: pull
  stage: test
  needs:
  - install:client
  script:
  - Xvfb :99 -ac -screen 0 1920x1080x24 &
  - cd client
  - npm ci --cache .npm --prefer-offline
  - npm run coverage -- --browsers=ChromeHeadlessNoSandbox --watch=false
  ...

test:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    policy: pull
  stage: test
  needs:
  - install:server
  script:
  - cd server
  - npm ci --cache .npm --prefer-offline
  - npm run coverage
  dependencies:
  - install:server
  coverage: /All files[^|]*\|[^|]*\s+([\d\.]+)/
  artifacts:
  ...

Implemented very basic message display
  client_leger/lib/main.dart
  client_leger/lib/pages/chat.dart
  client_leger/lib/pages/chat_provider.dart
  client_leger/lib/services/chat_service.dart
Due: none

Created ChatService
  client_leger/lib/interfaces/chat_message.dart
  client_leger/lib/services/chat_service.dart
  client_leger/pubspec.lock
  client_leger/pubspec.yaml
Due: none

Created message input widget
  client_leger/lib/main.dart
  client_leger/lib/widgets/message_input_field.dart
Due: none

Added message bar, created MessageBubble widget
  client_leger/lib/pages/chat.dart
  client_leger/lib/widgets/message_bubble.dart
  client_leger/lib/widgets/message_input_field.dart
Due: none

Linked MessageInputField with ChatService
  client_leger/lib/widgets/message_input_field.dart
Due: none

Integrated Getx to the project
  client_leger/lib/bindings/chat_bindings.dart
  client_leger/lib/main.dart
  client_leger/lib/pages/chat.dart
  client_leger/lib/pages/chat_provider.dart
  client_leger/lib/services/chat_service.dart
  client_leger/lib/widgets/message_bubble.dart
  client_leger/lib/widgets/message_input_field.dart
  client_leger/pubspec.lock
  client_leger/pubspec.yaml
Due: none

Implemented socket service
  client_leger/lib/bindings/global_bingings.dart
  client_leger/lib/main.dart
  client_leger/lib/services/chat_service.dart
  client_leger/lib/services/socket_service.dart
Due: none

Created SocketService
  client_leger/pubspec.lock
  client_leger/pubspec.yaml
Due: none

Jerry-rigged the server to test flutter socket connection
  client_leger/lib/services/chat_service.dart
  server/app/gateways/game-session/game-session.gateway.ts
Due: install:server, lint:server, test:server

More prototype hacks
  client_leger/lib/services/chat_service.dart
  client_leger/lib/services/socket_service.dart
  server/app/gateways/game-session/game-session.gateway.ts
Due: install:server, lint:server, test:server

Fixed weird deconnection bugs
  client/src/app/services/account/account.service.ts
  client/src/app/services/interceptor/interceptor.service.ts
  client/src/app/services/socket/socket.service.ts
  client/src/app/services/token/token.service.ts
  common/tokens.ts
  server/app/controllers/authentication/jwt.strategy.ts
  server/app/services/authentication/authentication.service.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

Fixed tests
  client/src/app/services/account/account.service.spec.ts
Due: install:client, lint:client, test:client

Add ChatComponent to app module, app routing module and messages service
  client/src/app/app.module.ts
  client/src/app/modules/app-routing.module.ts
  client/src/app/pages/chat/chat.component.html
  client/src/app/pages/chat/chat.component.scss
  client/src/app/pages/chat/chat.component.spec.ts
  client/src/app/pages/chat/chat.component.ts
  client/src/app/pages/chat/chat.constants.ts
  client/src/app/services/game-start/game-start.service.ts
  client/src/app/services/message/message.service.ts
  server/app/gateways/game-session/game-session.gateway.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

AuthGuard for chat
  client/src/app/modules/app-routing.module.ts
Due: install:client, lint:client, test:client

Remove console.log statements in MessageService and GameSessionGateway
  client/src/app/services/message/message.service.ts
Due: install:client, lint:client, test:client

Electron + Remove google
  client/main.js
  client/package-lock.json
  client/package.json
  client/src/app/app.module.ts
  client/src/app/pages/login-page/login-page.component.html
  client/src/app/pages/main-page/main-page.component.html
  client/src/app/services/message/message.service.ts
  client/src/environments/environment.prod.ts
Due: install:client, lint:client, test:client

fix lint
  client/src/app/pages/chat/chat.component.spec.ts
  client/src/app/pages/chat/chat.component.ts
Due: install:client, lint:client, test:client

Updated flutter lints
  client_leger/pubspec.lock
  client_leger/pubspec.yaml
Due: none

Fix tokens
  client/src/app/services/account/account.service.ts
  client/src/app/services/game-start/game-start.service.ts
  client/src/app/services/interceptor/interceptor.service.ts
  client/src/app/services/socket/socket.service.ts
  server/app/authentication/ws-jwt-auth.guard.ts
  server/app/gateways/configuration/configuration.gateway.ts
  server/app/gateways/game-create/game-create.gateway.ts
  server/app/gateways/game-session/game-session.gateway.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

Changed message interface to integrate with both clients
  client/src/app/components/message-bar/message-bar.component.html
  client/src/app/components/message/message.component.html
  client/src/app/components/message/message.component.ts
  client/src/app/pages/chat/chat.component.html
  client/src/app/pages/chat/chat.component.ts
  client/src/app/services/chat/chat.service.spec.ts
  client/src/app/services/chat/chat.service.ts
  client_leger/lib/services/socket_service.dart
  client_leger/pubspec.lock
  common/model/message.ts
  server/app/gateways/game-session/game-session.gateway.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

ANDROID: Login & Account creation view
  .vscode/c_cpp_properties.json
  client/.gitignore
  client_leger/.gitignore
  client_leger/assets/logo/Google_logo.png
  client_leger/assets/logo/google_logo.png
  client_leger/assets/logo/logo.png
  client_leger/fonts/Pirata.ttf
  client_leger/ios/Flutter/Debug.xcconfig
  client_leger/ios/Flutter/Release.xcconfig
  client_leger/ios/Runner.xcodeproj/project.pbxproj
  client_leger/lib/base-widgets/wrapper_widget.dart
  client_leger/lib/constants/form_constants.dart
  client_leger/lib/environments/environment.dart
  client_leger/lib/environments/environment_prod.dart
  client_leger/lib/exceptions/token_exceptions.dart
  client_leger/lib/firebase_options.dart
  client_leger/lib/interfaces/tokens.dart
  client_leger/lib/interfaces/user-info.dart
  client_leger/lib/main.dart
  client_leger/lib/pages/account_creation.dart
  client_leger/lib/pages/login.dart
  client_leger/lib/services/account_service.dart
  client_leger/lib/services/google_signin_service.dart
  client_leger/lib/services/interceptor.dart
  client_leger/lib/services/token_service.dart
  client_leger/lib/validators/account_form_validator.dart
  client_leger/lib/validators/no_white_space_validator.dart
  client_leger/macos/Flutter/Flutter-Debug.xcconfig
  client_leger/macos/Flutter/Flutter-Release.xcconfig
  client_leger/macos/Flutter/GeneratedPluginRegistrant.swift
  client_leger/macos/Runner.xcodeproj/project.pbxproj
  client_leger/pubspec.lock
  client_leger/pubspec.yaml
  client_leger/windows/flutter/generated_plugin_registrant.cc
  client_leger/windows/flutter/generated_plugins.cmake
Due: install:client, lint:client, test:client

Update dependencies in pubspec.lock file
  client_leger/pubspec.lock
Due: none

Jerry-rigged the server to test flutter socket connection
  server/app/gateways/game-session/game-session.gateway.ts
Due: install:server, lint:server, test:server

Add ChatComponent to app module, app routing module and messages service
  client/src/app/modules/app-routing.module.ts
  client/src/app/pages/chat/chat.component.html
  client/src/app/pages/chat/chat.component.spec.ts
  client/src/app/services/message/message.service.ts
  server/app/gateways/game-session/game-session.gateway.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

Added puml for login and register process
  documentation/architecture_logicielle/processus/login-process.puml
  documentation/architecture_logicielle/processus/register-process.puml
Due: none

Resolved rebase issues
  client/src/app/pages/chat/chat.component.html
  server/app/gateways/game-session/game-session.gateway.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

Update README.md
  README.md
Due: none

Path conditions:
  install:client: any of: client/**/*, common/**/*
  install:server: any of: server/**/*, common/**/*
  lint:client: any of: client/**/*, common/**/*
  lint:server: any of: server/**/*, common/**/*
  test:client: any of: client/**/*, common/**/*
  test:server: any of: server/**/*, common/**/*
