Repository MurielleMardenli200/FindTheDifferenceGame: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:client, install:server, lint:client, lint:server, test:client, test:server

install:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - client/node_modules/
    - client/.npm/
    policy: pull-push
  stage: install
  script:
  - cd client
  - npm ci --cache .npm --prefer-offline

install:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    - server/.npm/
    policy: pull-push
  stage: install
  script:
  - cd server
  - npm ci --cache .npm --prefer-offline

lint:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - client/node_modules/
    policy: pull
  stage: lint
  needs:
  - install:client
  allow_failure: true
  script:
  - cd client
  - npm ci --cache .npm --prefer-offline
  - npm run lint

lint:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    policy: pull
  stage: lint
  needs:
  - install:server
  allow_failure: true
  script:
  - cd server
  - npm ci --cache .npm --prefer-offline
  - npm run lint

test:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - client/node_modules/
    policy: pull
  stage: test
  needs:
  - install:client
  script:
  - Xvfb :99 -ac -screen 0 1920x1080x24 &
  - cd client
  - npm ci --cache .npm --prefer-offline
  - npm run coverage -- --browsers=ChromeHeadlessNoSandbox --watch=false
  ...

test:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    policy: pull
  stage: test
  needs:
  - install:server
  script:
  - cd server
  - npm ci --cache .npm --prefer-offline
  - npm run coverage
  dependencies:
  - install:server
  coverage: /All files[^|]*\|[^|]*\s+([\d\.]+)/
  artifacts:
  ...

arrow back to login page added
  client/src/app/pages/create-account-page/create-account-page.component.html
  client/src/app/pages/create-account-page/create-account-page.component.scss
Due: install:client, lint:client, test:client

Support de PostrgreSQL dans l'infrastructure.
  .vscode/launch.json
  Dockerfile
  docker-compose.dev.yml
  docker-compose.prod.yml
  docker-compose.yml
  server/.env.dist
  server/package.json
  spot-seven.code-workspace
  workspace.code-workspace
Due: install:server, lint:server, test:server

Added common folder as docker volumes for reload
  Dockerfile
  create_db.sql
  docker-compose.dev.yml
  server/README.md
  server/app/app.module.ts
  server/package.json
Due: install:server, lint:server, test:server

rebase
  server/package-lock.json
Due: install:server, lint:server, test:server

5th rebase
  server/.env.dist
  server/package-lock.json
Due: install:server, lint:server, test:server

4th rebase
  client_leger/.gitignore
Due: none

second rebase
  client_leger/.gitignore
Due: none

Added validators for account creation page, added wrapper around login and account creation pages
  client_leger/lib/base-widgets/wrapper_widget.dart
  client_leger/lib/constants/form_constants.dart
  client_leger/lib/pages/account_creation.dart
  client_leger/lib/pages/login.dart
  client_leger/lib/validators/account_form_validator.dart
  client_leger/lib/validators/no_white_space.dart
  client_leger/lib/validators/no_white_space_validator.dart
  client_leger/pubspec.lock
  client_leger/pubspec.yaml
Due: none

clean up login/account page
  client_leger/lib/pages/account_creation.dart
  client_leger/lib/pages/login.dart
Due: none

server dependendecies installed
  client_leger/lib/pages/account_creation.dart
Due: none

server dependencies installed
  server/package-lock.json
Due: install:server, lint:server, test:server

chat UI
  client/src/app/app.module.ts
  client/src/app/modules/app-routing.module.ts
  client/src/app/pages/chat/chat.component.html
  client/src/app/pages/chat/chat.component.scss
  client/src/app/pages/chat/chat.component.spec.ts
  client/src/app/pages/chat/chat.component.ts
  client/src/app/pages/chat/chat.constants.ts
  client/src/app/services/message/message.service.ts
Due: install:client, lint:client, test:client

initial google sign set up
  .vscode/c_cpp_properties.json
  client_leger/ios/Runner.xcodeproj/project.pbxproj
  client_leger/lib/firebase_options.dart
  client_leger/lib/main.dart
  client_leger/lib/pages/google_signin.dart
  client_leger/lib/pages/login.dart
  client_leger/lib/services/google_signin_service
  client_leger/macos/Flutter/GeneratedPluginRegistrant.swift
  client_leger/macos/Runner.xcodeproj/project.pbxproj
  client_leger/pubspec.lock
  client_leger/pubspec.yaml
  client_leger/windows/flutter/generated_plugin_registrant.cc
  client_leger/windows/flutter/generated_plugins.cmake
Due: none

google sign setup completed
  client_leger/lib/main.dart
  client_leger/lib/pages/account_creation.dart
  client_leger/lib/pages/login.dart
  client_leger/lib/services/google_signin_service.dart
Due: none

account service and interfaces set up
  client_leger/lib/interfaces/user-info.dart
  client_leger/lib/main.dart
  client_leger/lib/pages/google_signin.dart
  client_leger/lib/services/account_service.dart
  client_leger/lib/services/google_signin_service.dart
  client_leger/pubspec.lock
  client_leger/pubspec.yaml
Due: none

creating service interfaces and code clean up
  client_leger/lib/environments/environment.dart
  client_leger/lib/environments/environment_prod.dart
  client_leger/lib/interfaces/user-info.dart
  client_leger/lib/pages/account_creation.dart
  client_leger/lib/services/account_service.dart
Due: none

Functionnal JWT Refresh tokens
  client/src/app/components/error-modal/error-modal.component.ts
  client/src/app/services/account/account.service.ts
  client/src/app/services/interceptor/interceptor.service.ts
  client/src/app/services/socket/socket.service.ts
  client/src/app/services/token/token-expired-error.ts
  client/src/app/services/token/token.service.spec.ts
  client/src/app/services/token/token.service.ts
  common/jwt-payload.ts
  common/model/communication-protocole.ts
  common/model/dto/refresh.dto.ts
  common/tokens.ts
  server/app/authentication/access.guard.ts
  server/app/authentication/refresh.guard.ts
  server/app/authentication/ws-jwt-auth.guard.ts
  server/app/controllers/authentication/authentication.controller.ts
  server/app/services/authentication/authentication.service.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

Replaced with constants
  client/src/app/services/socket/socket.service.ts
  client/src/app/services/token/token.constants.ts
  client/src/app/services/token/token.service.ts
Due: install:client, lint:client, test:client

Fixed socket not destroyed causing error
  client/src/app/services/account/account.service.ts
  client/src/app/services/interceptor/interceptor.service.ts
  client/src/app/services/socket/socket.service.ts
Due: install:client, lint:client, test:client

Used refresh token constant
  client/src/app/services/account/account.service.ts
Due: install:client, lint:client, test:client

Fix lint
  client/src/app/interfaces/user-info.ts
  server/app/authentication/refresh.guard.ts
  server/app/controllers/authentication/authentication.controller.ts
  server/app/controllers/game/game.controller.ts
  server/app/services/user/user.service.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

Fix test
  client/src/app/components/error-modal/error-modal.component.spec.ts
  client/src/app/pages/classic-mode/classic-mode.component.spec.ts
  client/src/app/pages/login-page/login-page.component.spec.ts
  client/src/app/pages/time-limited/time-limited-mode.component.spec.ts
  client/src/app/services/account/account.service.spec.ts
  client/src/app/services/interceptor/interceptor.service.spec.ts
  client/src/app/services/socket/socket.service.spec.ts
  client/src/app/services/time-limited-mode/time-limited-mode.service.spec.ts
  client/src/app/services/token/token.service.spec.ts
Due: install:client, lint:client, test:client

Fix client test
  client/src/app/pages/classic-mode/classic-mode.component.spec.ts
  client/src/app/pages/time-limited/time-limited-mode.component.spec.ts
Due: install:client, lint:client, test:client

Fix server test
  server/app/controllers/authentication/authentication.controller.spec.ts
  server/app/controllers/configuration/configuration.controller.spec.ts
  server/app/controllers/game/game.controller.spec.ts
  server/app/gateways/configuration/configuration.gateway.spec.ts
  server/app/gateways/game-create/game-create.gateway.spec.ts
  server/app/gateways/game-session/game-session.gateway.spec.ts
  server/app/model/database/user.entity.spec.ts
  server/app/services/authentication/authentication.service.spec.ts
  server/app/services/user/user.service.spec.ts
Due: install:server, lint:server, test:server

Moved npm ci to docker
  docker-compose.dev.yml
  server/init.sh
Due: install:server, lint:server, test:server

Fix lint
  client/src/app/pages/time-limited/time-limited-mode.component.spec.ts
Due: install:client, lint:client, test:client

Fixed docker volume breaking
  client/src/app/services/account/account.service.ts
  docker-compose.dev.yml
  init/create_db.sql
Due: install:client, lint:client, test:client

Fixed MR comments
  client/src/app/services/account/account.service.ts
  client/src/app/services/token/token.service.ts
Due: install:client, lint:client, test:client

Added accurate .env.dist
  server/.env.dist
Due: install:server, lint:server, test:server

Refined README
  server/README.md
Due: install:server, lint:server, test:server

Base component for chat
  .gitignore
  client/package-lock.json
  client/src/app/app.module.ts
  client/src/app/modules/app-routing.module.ts
  client/src/app/pages/chat/chat.component.html
  client/src/app/pages/chat/chat.component.scss
  client/src/app/pages/chat/chat.component.spec.ts
  client/src/app/pages/chat/chat.component.ts
  client/src/app/pages/chat/chat.constants.ts
Due: install:client, lint:client, test:client

Apple files
  client_leger/ios/Podfile
  client_leger/macos/Podfile
  client_leger/pubspec.lock
Due: none

Apple file
  client_leger/pubspec.lock
Due: none

WEB: Account creation view
  .gitignore
  client/.gitignore
  client/package-lock.json
  client/package.json
  client/src/app/app.module.ts
  client/src/app/modules/app-routing.module.ts
  client/src/app/pages/create-account-page/create-account-page.component.html
  client/src/app/pages/create-account-page/create-account-page.component.scss
  client/src/app/pages/create-account-page/create-account-page.component.spec.ts
  client/src/app/pages/create-account-page/create-account-page.component.ts
  client/src/app/pages/login-page/login-page.component.html
  client/src/app/pages/login-page/login-page.component.spec.ts
  client/src/app/pages/login-page/login-page.component.ts
  client/src/app/services/account/account.service.spec.ts
  client/src/app/services/account/account.service.ts
  client/src/app/services/message/message.service.ts
  client/src/app/validators/no-whitespace/no-white-space.ts
  client/src/app/validators/user-form-validator/user-form-validator.spec.ts
  client/src/app/validators/user-form-validator/user-form-validator.ts
  client_leger/.gitignore
  server/app/app.module.ts
  server/app/controllers/authentication/jwt-auth.guard.ts
  server/app/controllers/authentication/jwt.strategy.ts
  server/app/gateways/configuration/configuration.gateway.ts
  server/app/gateways/gateway.constants.ts
  server/app/index.ts
  server/app/model/dto/modify-game-dto.ts
  server/app/modules/authentication/authentication.module.ts
  server/app/services/authentication/authentication.service.ts
  server/package-lock.json
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

Fix all client tests
  client/src/app/components/error-modal/error-modal.component.spec.ts
  client/src/app/pages/classic-mode/classic-mode.component.spec.ts
  client/src/app/pages/create-account-page/create-account-page.component.spec.ts
  client/src/app/services/account/account.service.spec.ts
  client/src/app/services/interceptor/interceptor.service.spec.ts
  client/src/app/services/socket/socket.service.spec.ts
Due: install:client, lint:client, test:client

Path conditions:
  install:client: any of: client/**/*, common/**/*
  install:server: any of: server/**/*, common/**/*
  lint:client: any of: client/**/*, common/**/*
  lint:server: any of: server/**/*, common/**/*
  test:client: any of: client/**/*, common/**/*
  test:server: any of: server/**/*, common/**/*
