Repository MurielleMardenli200/FindTheDifferenceGame: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:client, install:server, lint:client, lint:server, test:client, test:server

Path conditions:
  install:client: any of: client/**/*, common/**/*
  install:server: any of: server/**/*, common/**/*
  lint:client: any of: client/**/*, common/**/*
  lint:server: any of: server/**/*, common/**/*
  test:client: any of: client/**/*, common/**/*
  test:server: any of: server/**/*, common/**/*

Updated ci image
  .gitlab-ci.yml
Due: none

Fix lint errors
  .eslintrc.json
  client/package-lock.json
  client/package.json
  client/src/app/classes/draw-instructions-manager/draw-instructions-manager.spec.ts
  client/src/app/classes/drawable-shape/drawable-shape.spec.ts
  client/src/app/classes/eraser/eraser.spec.ts
  client/src/app/classes/shape/shape.ts
  client/src/app/components/canvas/canvas.component.spec.ts
  client/src/app/decorators/history/history.ts
  client/src/app/services/canvas-editor/canvas-editor.service.spec.ts
  client/src/app/services/game-service/game.service.spec.ts
  client/src/app/services/game-service/game.service.ts
  server/app/model/classes/game-sessions/base-game-session/base-game-session.spec.ts
  server/app/model/classes/game-sessions/classic-session/classic-session.spec.ts
  server/app/model/classes/game-sessions/time-limited-session/time-limited-session.spec.ts
  server/app/samples/game-session.ts
  server/app/services/bitmap/bitmap.service.spec.ts
  server/app/services/game-manager/game-manager.service.spec.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

Updated url
  client/src/environments/environment.prod.ts
  server/app/gateways/gateway.constants.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

Update gitlab-ci to use ansible
  .gitlab-ci.yml
Due: none

Improved CI
  .gitlab-ci.yml
Due: none

login page view
  client/src/app/app.module.ts
  client/src/app/constants/initial-view-constants.ts
  client/src/app/modules/app-routing.module.ts
  client/src/app/pages/login-page/login-page.component.html
  client/src/app/pages/login-page/login-page.component.scss
  client/src/app/pages/login-page/login-page.component.spec.ts
  client/src/app/pages/login-page/login-page.component.ts
  client/src/assets/logo/Google_logo.png
Due: install:client, lint:client, test:client

tests correction for pipeline
  client/src/app/pages/login-page/login-page.component.spec.ts
Due: install:client, lint:client, test:client

Revert "login page view"
  client/src/app/app.module.ts
  client/src/app/constants/initial-view-constants.ts
  client/src/app/modules/app-routing.module.ts
  client/src/app/pages/login-page/login-page.component.html
  client/src/app/pages/login-page/login-page.component.scss
  client/src/app/pages/login-page/login-page.component.spec.ts
  client/src/app/pages/login-page/login-page.component.ts
  client/src/assets/logo/Google_logo.png
Due: install:client, lint:client, test:client

Improved CI to use new deployment pipelines
  .gitlab-ci.yml
Due: none

Feature/google login
  client/package-lock.json
  client/package.json
  client/src/app/app.module.ts
  client/src/app/interfaces/user-info.ts
  client/src/app/modules/app-routing.module.ts
  client/src/app/pages/login-page/login-page.component.html
  client/src/app/pages/login-page/login-page.component.spec.ts
  client/src/app/pages/login-page/login-page.component.ts
  client/src/app/services/account/account.service.spec.ts
  client/src/app/services/account/account.service.ts
  client/src/app/services/auth-guard/auth.guard.spec.ts
  client/src/app/services/auth-guard/auth.guard.ts
  client/src/environments/environment.prod.ts
  client/src/environments/environment.ts
Due: install:client, lint:client, test:client

MM: create account page created and view needs to be modified
  client/src/app/modules/app-routing.module.ts
  client/src/app/pages/create-account-page/create-account-page.component.html
  client/src/app/pages/create-account-page/create-account-page.component.scss
  client/src/app/pages/create-account-page/create-account-page.component.spec.ts
  client/src/app/pages/create-account-page/create-account-page.component.ts
  client/src/app/pages/login-page/login-page.component.html
  client/src/app/services/account/account.service.ts
Due: install:client, lint:client, test:client

MM: Angular CLI update
  client/package-lock.json
  client/package.json
Due: install:client, lint:client, test:client

MM: account creation validators done, indication of mat errors done, ui changes for pretty-ness
  client/package-lock.json
  client/package.json
  client/src/app/app.module.ts
  client/src/app/pages/create-account-page/create-account-page.component.html
  client/src/app/pages/create-account-page/create-account-page.component.scss
  client/src/app/pages/create-account-page/create-account-page.component.ts
  client/src/app/pages/login-page/login-page.component.scss
  client/src/app/services/account/account.service.ts
  client/src/app/validators/user-form-validator/user-form-validator.spec.ts
  client/src/app/validators/user-form-validator/user-form-validator.ts
Due: install:client, lint:client, test:client

Fixed high scores not loading and saving properly
  server/app/app.module.ts
  server/app/model/database/duel-highscore.entity.ts
  server/app/model/database/game-history.entity.ts
  server/app/model/database/game.entity.ts
  server/app/model/database/highscore.entity.ts
  server/app/model/database/solo-highscore.entity.ts
  server/app/services/game-manager/game-manager.service.ts
  server/app/services/game/game.service.ts
  server/app/services/high-score/high-score.service.spec.ts
  server/app/services/high-score/high-score.service.ts
Due: install:server, lint:server, test:server

Migrated from Mongoose schema to TypeORM for Postgres schema
  server/.env.dist
  server/app/app.module.ts
  server/app/controllers/configuration/configuration.controller.ts
  server/app/controllers/game/game.controller.ts
  server/app/gateways/game-create/game-create.gateway.ts
  server/app/model/database/game-constants.entity.ts
  server/app/model/database/game-history.entity.ts
  server/app/model/database/game.entity.ts
  server/app/model/database/temporary-game.entity.spec.ts
  server/app/model/schema/pending-game.ts
  server/app/model/schema/temporary-game.ts
  server/app/samples/game-session.ts
  server/app/samples/game.ts
  server/app/services/game-constants/game-constants.service.ts
  server/app/services/game-history/game-history.service.ts
  server/app/services/game/game.service.ts
  server/package-lock.json
  server/package.json
Due: install:server, lint:server, test:server

Fixed game constant service tests
  server/app/services/game-constants/game-constants.service.spec.ts
Due: install:server, lint:server, test:server

Fixed game service tests
  server/app/services/game/game.service.spec.ts
Due: install:server, lint:server, test:server

Fixed game manager service tests
  server/app/services/game-manager/game-manager.service.spec.ts
Due: install:server, lint:server, test:server

Fixed configuration controller tests
  server/app/controllers/configuration/configuration.controller.spec.ts
  server/app/samples/game-session.ts
  server/app/samples/game.ts
Due: install:server, lint:server, test:server

Made high-score service tests pass
  server/app/services/high-score/high-score.service.spec.ts
Due: install:server, lint:server, test:server

Created HighScore tables
  server/app/app.module.ts
  server/app/model/database/duel-highscore.entity.ts
  server/app/model/database/game.entity.ts
  server/app/model/database/highscore.entity.ts
  server/app/model/database/solo-highscore.entity.ts
  server/app/samples/game.ts
  server/app/services/game/game.service.ts
Due: install:server, lint:server, test:server

Deleted game history entity test file
  server/app/model/database/game-history.entity.spec.ts
Due: install:server, lint:server, test:server

Removed constructor for GameConstants entity
  .vscode/settings.json
  server/app/model/database/game-constants.entity.ts
Due: install:server, lint:server, test:server

Removed MongoDB related packages
  server/app/model/dto/coordinate.dto.ts
  server/package-lock.json
  server/package.json
Due: install:server, lint:server, test:server

Removed dead code related to Mongoose
  server/.env.dist
  server/app/app.module.ts
Due: install:server, lint:server, test:server

Fixed game history service tests
  server/app/services/game-history/game-history.service.spec.ts
Due: install:server, lint:server, test:server

Fixed game controller tests
  server/app/controllers/game/game.controller.spec.ts
Due: install:server, lint:server, test:server

Created bigint transformer to deserealize it as number instead of string
  server/app/model/database/game-history.entity.ts
  server/app/model/database/transformers/bigint.transformer.ts
Due: install:server, lint:server, test:server

Changed GameConstants table to GameConstantEntity make the constant type a column and value another column
  common/game-constants.ts
  server/app/app.module.ts
  server/app/controllers/configuration/configuration.controller.spec.ts
  server/app/controllers/configuration/configuration.controller.ts
  server/app/model/classes/game-sessions/base-game-session/base-game-session.ts
  server/app/model/classes/game-sessions/classic-session/classic-session.ts
  server/app/model/classes/game-sessions/time-limited-session/time-limited-session.ts
  server/app/model/database/game-constant.entity.ts
  server/app/model/database/game-constants.entity.ts
  server/app/model/database/game-history.entity.ts
  server/app/samples/game-session.ts
  server/app/services/game-constants/game-constants.service.spec.ts
  server/app/services/game-constants/game-constants.service.ts
  server/app/services/game-manager/game-manager.service.spec.ts
  server/app/services/game-manager/game-manager.service.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

Fixed delete game crashing the server because of foreign key
  server/app/model/database/duel-highscore.entity.ts
  server/app/model/database/game.entity.ts
  server/app/model/database/solo-highscore.entity.ts
  server/app/services/game/game.service.ts
  server/app/services/high-score/high-score.service.ts
Due: install:server, lint:server, test:server

Migration de MongoDB vers Postgres
  .vscode/settings.json
  common/game-constants.ts
  server/.env.dist
  server/app/app.module.ts
  server/app/controllers/configuration/configuration.controller.spec.ts
  server/app/controllers/configuration/configuration.controller.ts
  server/app/controllers/game/game.controller.spec.ts
  server/app/controllers/game/game.controller.ts
  server/app/gateways/game-create/game-create.gateway.ts
  server/app/model/classes/game-sessions/base-game-session/base-game-session.ts
  server/app/model/classes/game-sessions/classic-session/classic-session.ts
  server/app/model/classes/game-sessions/time-limited-session/time-limited-session.ts
  server/app/model/database/duel-highscore.entity.ts
  server/app/model/database/game-constant.entity.ts
  server/app/model/database/game-constants.entity.ts
  server/app/model/database/game-history.entity.spec.ts
  server/app/model/database/game-history.entity.ts
  server/app/model/database/game.entity.ts
  server/app/model/database/highscore.entity.ts
  server/app/model/database/solo-highscore.entity.ts
  server/app/model/database/temporary-game.entity.spec.ts
  server/app/model/database/transformers/bigint.transformer.ts
  server/app/model/dto/coordinate.dto.ts
  server/app/model/schema/pending-game.ts
  server/app/model/schema/temporary-game.ts
  server/app/samples/game-session.ts
  server/app/samples/game.ts
  server/app/services/game-constants/game-constants.service.spec.ts
  server/app/services/game-constants/game-constants.service.ts
  server/app/services/game-history/game-history.service.spec.ts
  server/app/services/game-history/game-history.service.ts
  server/app/services/game-manager/game-manager.service.spec.ts
  server/app/services/game-manager/game-manager.service.ts
  server/app/services/game/game.service.spec.ts
  server/app/services/game/game.service.ts
  server/app/services/high-score/high-score.service.spec.ts
  server/app/services/high-score/high-score.service.ts
  server/package-lock.json
  server/package.json
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

Added files in git ignore and password confirmation hidden
  client/.gitignore
  client/src/app/pages/create-account-page/create-account-page.component.html
Due: install:client, lint:client, test:client

Added auth module and jwt guard
  common/jwt-payload.ts
  common/model/dto/user-dto.ts
  common/user.ts
  server/app/app.module.ts
  server/app/constants/jwt.constants.ts
  server/app/controllers/authentication/authentication.controller.spec.ts
  server/app/controllers/authentication/authentication.controller.ts
  server/app/controllers/authentication/jwt-auth.guard.ts
  server/app/controllers/authentication/jwt.strategy.ts
  server/app/index.ts
  server/app/model/database/user.entity.spec.ts
  server/app/model/database/user.entity.ts
  server/app/model/dto/user-dto.ts
  server/app/modules/authentication/authentication.module.ts
  server/app/modules/users/users.module.ts
  server/app/services/authentication/authentication.service.spec.ts
  server/app/services/authentication/authentication.service.ts
  server/app/services/user/user.service.spec.ts
  server/app/services/user/user.service.ts
  server/package-lock.json
  server/package.json
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

Improved auth module and test guard on ws
  server/app/authentication/jwt.strategy.ts
  server/app/controllers/authentication/authentication.controller.ts
  server/app/controllers/configuration/configuration.controller.ts
  server/app/controllers/game/game.controller.ts
  server/app/gateways/configuration/configuration.gateway.ts
  server/app/index.ts
  server/app/model/dto/modify-game-dto.ts
  server/package-lock.json
  server/package.json
Due: install:server, lint:server, test:server

removed useless async-api package
  server/package-lock.json
  server/package.json
Due: install:server, lint:server, test:server

Moved auth to separate folder
  server/app/authentication/jwt-auth.guard.ts
  server/app/authentication/jwt.strategy.ts
  server/app/controllers/authentication/authentication.controller.ts
  server/app/index.ts
  server/app/modules/authentication/authentication.module.ts
  server/app/services/authentication/authentication.service.ts
Due: install:server, lint:server, test:server

Added auth gard for ws
  server/app/gateways/configuration/configuration.gateway.ts
  server/app/gateways/game-create/game-create.gateway.ts
  server/app/gateways/game-session/game-session.gateway.ts
  server/app/model/dto/modify-game-dto.ts
Due: install:server, lint:server, test:server

merged changes
  client/src/app/app.module.ts
  client/src/app/pages/login-page/login-page.component.ts
  client/src/app/services/account/account.service.ts
  client/src/app/services/auth-guard/auth.guard.ts
  client/src/app/services/interceptor/interceptor.service.spec.ts
  client/src/app/services/interceptor/interceptor.service.ts
Due: install:client, lint:client, test:client
