Repository MurielleMardenli200/FindTheDifferenceGame: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:client_lourd, install:server, lint:client_lourd, lint:server, test:client_lourd, test:server

Path conditions:
  install:client_lourd: any of: client_lourd/**/*, common/**/*
  install:server: any of: server/**/*, common/**/*
  lint:client_lourd: any of: client_lourd/**/*, common/**/*
  lint:server: any of: server/**/*, common/**/*
  test:client_lourd: any of: client_lourd/**/*, common/**/*
  test:server: any of: server/**/*, common/**/*

Replaced heavy client path in ci
  .gitlab-ci.yml
Due: none

rebase continue
  client/src/app/services/account/account.service.ts
  client/src/app/services/interceptor/interceptor.service.ts
Due: none

Add websocket auth at handshake
  client/src/app/services/interceptor/interceptor.service.ts
  client/src/app/services/socket/socket.service.ts
Due: none

Added login-result
  common/model/dto/login-result.dto.ts
Due: install:client_lourd, install:server, lint:client_lourd, lint:server, test:client_lourd, test:server

Added websocket guard
  server/app/authentication/ws-jwt-auth.guard.ts
  server/app/gateways/configuration/configuration.gateway.ts
  server/app/gateways/game-create/game-create.gateway.ts
  server/app/gateways/game-session/game-session.gateway.ts
  server/app/services/authentication/authentication.service.ts
Due: install:server, lint:server, test:server

Moved social auth to login page
  client/src/app/pages/login-page/login-page.component.ts
  client/src/app/services/account/account.service.ts
Due: none

rebase in account service
  client/src/app/pages/create-account-page/create-account-page.component.html
  client/src/app/pages/create-account-page/create-account-page.component.scss
  client/src/app/pages/create-account-page/create-account-page.component.ts
Due: none

rebase continue
  client/src/app/pages/create-account-page/create-account-page.component.html
  client/src/app/pages/create-account-page/create-account-page.component.scss
  client/src/app/pages/create-account-page/create-account-page.component.ts
Due: none

rebase continue
  client/src/app/pages/create-account-page/create-account-page.component.ts
Due: none

git ignore merge
  client/.gitignore
Due: none

fix bugs in page rendering
  client/src/app/pages/create-account-page/create-account-page.component.html
  client/src/app/pages/create-account-page/create-account-page.component.scss
  client/src/app/pages/create-account-page/create-account-page.component.ts
  client/src/app/services/account/account.service.ts
  client/src/app/services/message/message.service.ts
Due: none

git ignore changed
  client/.gitignore
  client_leger/lib/main.dart
Due: none

Support de PostrgreSQL dans l'infrastructure.
  .vscode/launch.json
  Dockerfile
  docker-compose.dev.yml
  docker-compose.prod.yml
  docker-compose.yml
  server/.env.dist
  server/package.json
  spot-seven.code-workspace
  workspace.code-workspace
Due: install:server, lint:server, test:server

front end part of Login page of android tablet done
  client_leger/assets/logo/Google_logo.png
  client_leger/assets/logo/logo.png
  client_leger/fonts/Pirata.ttf
  client_leger/lib/main.dart
  client_leger/pubspec.yaml
Due: none

test corrections
  client/src/app/pages/login-page/login-page.component.spec.ts
  client/src/app/services/account/account.service.spec.ts
  client/src/app/services/interceptor/interceptor.service.spec.ts
Due: none

git ignore for client léger
  client_leger/.gitignore
Due: none

git ignore
  client_leger/.gitignore
Due: none

first rebase
  .vscode/settings.json
  common/game-constants.ts
  server/.env.dist
  server/app/app.module.ts
  server/app/controllers/configuration/configuration.controller.spec.ts
  server/app/controllers/configuration/configuration.controller.ts
  server/app/controllers/game/game.controller.spec.ts
  server/app/controllers/game/game.controller.ts
  server/app/gateways/game-create/game-create.gateway.ts
  server/app/model/classes/game-sessions/base-game-session/base-game-session.ts
  server/app/model/classes/game-sessions/classic-session/classic-session.ts
  server/app/model/classes/game-sessions/time-limited-session/time-limited-session.ts
  server/app/model/database/duel-highscore.entity.ts
  server/app/model/database/game-constant.entity.ts
  server/app/model/database/game-constants.entity.ts
  server/app/model/database/game-history.entity.spec.ts
  server/app/model/database/game-history.entity.ts
  server/app/model/database/game.entity.ts
  server/app/model/database/highscore.entity.ts
  server/app/model/database/solo-highscore.entity.ts
  server/app/model/database/temporary-game.entity.spec.ts
  server/app/model/database/transformers/bigint.transformer.ts
  server/app/model/dto/coordinate.dto.ts
  server/app/model/schema/pending-game.ts
  server/app/model/schema/temporary-game.ts
  server/app/samples/game-session.ts
  server/app/samples/game.ts
  server/app/services/game-constants/game-constants.service.spec.ts
  server/app/services/game-constants/game-constants.service.ts
  server/app/services/game-history/game-history.service.spec.ts
  server/app/services/game-history/game-history.service.ts
  server/app/services/game-manager/game-manager.service.spec.ts
  server/app/services/game-manager/game-manager.service.ts
  server/app/services/game/game.service.spec.ts
  server/app/services/game/game.service.ts
  server/app/services/high-score/high-score.service.spec.ts
  server/app/services/high-score/high-score.service.ts
  server/package-lock.json
  server/package.json
Due: install:client_lourd, install:server, lint:client_lourd, lint:server, test:client_lourd, test:server

3rd? rebase
  server/app/controllers/authentication/jwt-auth.guard.ts
  server/app/controllers/authentication/jwt.strategy.ts
Due: install:server, lint:server, test:server

4th rebase
  server/app/gateways/configuration/configuration.gateway.ts
  server/app/model/dto/modify-game-dto.ts
  server/package-lock.json
Due: install:server, lint:server, test:server

4th rebase
  server/package-lock.json
Due: install:server, lint:server, test:server

route set up
  client_leger/lib/login.dart
  client_leger/lib/main.dart
  client_leger/macos/Flutter/GeneratedPluginRegistrant.swift
  client_leger/pubspec.lock
  client_leger/pubspec.yaml
Due: none

tests corrections + other tests added
  client/src/app/pages/create-account-page/create-account-page.component.spec.ts
  client/src/app/pages/login-page/login-page.component.spec.ts
  client/src/app/validators/no-whitespace/no-white-space.ts
Due: none

account creation view for android tablet in the works (validators not implemented well yet)
  client_leger/ios/Flutter/Debug.xcconfig
  client_leger/ios/Flutter/Release.xcconfig
  client_leger/lib/main.dart
  client_leger/lib/pages/account_creation.dart
  client_leger/lib/pages/login.dart
  client_leger/lib/validators/no_white_space.dart
  client_leger/macos/Flutter/Flutter-Debug.xcconfig
  client_leger/macos/Flutter/Flutter-Release.xcconfig
Due: none

Added common folder as docker volumes for reload
  Dockerfile
  create_db.sql
  docker-compose.dev.yml
  server/README.md
  server/app/app.module.ts
  server/package.json
Due: install:server, lint:server, test:server

Implemented server side authentication
  Dockerfile
  client/src/app/app.module.ts
  client/src/app/pages/login-page/login-page.component.ts
  client/src/app/services/account/account.service.ts
  client/src/app/services/auth-guard/auth.guard.ts
  client/src/app/services/interceptor/interceptor.service.spec.ts
  client/src/app/services/interceptor/interceptor.service.ts
  client/src/app/services/socket/socket.service.ts
  common/.vscode/settings.json
  common/jwt-payload.ts
  common/model/dto/jwt-tokens.dto.ts
  common/model/dto/login-result.dto.ts
  common/model/dto/user-dto.ts
  common/user.ts
  server/.vscode/settings.json
  server/app/app.module.ts
  server/app/authentication/access.guard.ts
  server/app/authentication/refresh.guard.ts
  server/app/authentication/ws-jwt-auth.guard.ts
  server/app/constants/jwt.constants.ts
  server/app/controllers/authentication/authentication.controller.spec.ts
  server/app/controllers/authentication/authentication.controller.ts
  server/app/controllers/configuration/configuration.controller.ts
  server/app/controllers/game/game.controller.ts
  server/app/gateways/configuration/configuration.gateway.ts
  server/app/gateways/game-create/game-create.gateway.ts
  server/app/gateways/game-session/game-session.gateway.ts
  server/app/index.ts
  server/app/model/database/user.entity.spec.ts
  server/app/model/database/user.entity.ts
  server/app/model/dto/user-dto.ts
  server/app/modules/authentication/authentication.module.ts
  server/app/modules/users/users.module.ts
  server/app/services/guard/authentication.service.spec.ts
  server/app/services/guard/authentication.service.ts
  server/app/services/user/user.service.spec.ts
  server/app/services/user/user.service.ts
  server/package-lock.json
  server/package.json
Due: install:client_lourd, install:server, lint:client_lourd, lint:server, test:client_lourd, test:server

Placed authentication controller at its place
  server/app/controllers/authentication/authentication.controller.ts
  server/app/services/authentication/authentication.service.spec.ts
  server/app/services/authentication/authentication.service.ts
Due: install:server, lint:server, test:server

Refreshed client to correctly use jwt
  client/.vscode/settings.json
  client/src/app/interfaces/user-info.ts
  client/src/app/services/account/account.service.ts
  client/src/app/services/interceptor/interceptor.service.ts
  client/src/app/services/socket/socket.service.ts
Due: none

Fixed server side bugs for auth and guards
  server/app/authentication/access.guard.ts
  server/app/authentication/refresh.guard.ts
  server/app/authentication/ws-jwt-auth.guard.ts
  server/app/controllers/authentication/authentication.controller.ts
  server/app/services/authentication/authentication.service.ts
  server/app/services/user/user.service.ts
Due: install:server, lint:server, test:server

Renamed login dto
  common/model/dto/login-result.dto.ts
  common/model/dto/login.dto.ts
Due: install:client_lourd, install:server, lint:client_lourd, lint:server, test:client_lourd, test:server

git ignored modified
  client_leger/.gitignore
Due: none

npm ci to install packages
  server/package-lock.json
Due: install:server, lint:server, test:server

Add Electron support
  client/main.js
  client/package-lock.json
  client/package.json
Due: none

Remove dead code from appWindow initialization
  client/main.js
Due: none

Remove comments
  client/main.js
Due: none
